<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid-sharp"></ion-icon>
      <ion-label>Panel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Aktivite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="square"></ion-icon>
      <ion-label>Bütçe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Hesap</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
